# OS files
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/
.astro/
dist/

.env

docs/public/storybook
storybook-static/

spec-docs

# Local planning files
todo.md
TODO.md
*todo*.md
*Todo*.md
*TODO*.md
