.grid {
	display: grid;
	align-items: start;
	gap: 1rem;
}

.two {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

.three {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 78rem) {
	.lg {
		grid-template-columns: 1fr;
	}
}

@media (max-width: 58rem) {
	.md {
		grid-template-columns: 1fr;
	}
}
